**/target/classes/
**/target/test-classes/
**/target/generated-sources/
**/target/generated-test-sources/
**/target/maven-status/
**/target/maven-archiver/
**/.git/
**/.idea/
**/*.iml
**/.classpath
**/.project
**/.settings/
**/node_modules/
**/data/
**/*.log
